.App {
    margin: 0 auto;
    width: 100%;
    // max-width: 1200px;

    h1 {
        background-color: $bucket-purple;
        margin-bottom: 0;
        padding: 30px;
        text-align: center;
        color: white;
    }
}