.goalContainer {
    border: 2px solid $light-gray;
    padding: 50px;
    width: 45%;
    border-radius: 5px;
    margin: 20px 0;


    .title {
        margin-bottom: 0px;
    }

    .description {
        color: rgb(177, 177, 177);
        font-size: .9rem;
    }

    .buttonContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }
}

@media screen and (max-width: 930px) {
    .goalContainer {
        width: 90%;
    }    
}