.publicGoals{
    margin: 0 auto;
    
    .publicFeed{
        width: 90%;
        max-width: 900px;
        margin: 150px auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .publicGoalContainer{
            border: 2px solid $light-gray;
            border-radius: 5px;
            width: 30%;
            padding: 20px;
            margin-bottom: 50px;

            @media screen and (max-width: 745px){
                width: 48%
            }
        }

        @media screen and (max-width: 745px){
            margin: 75px auto;
        }
    }
}
