.pageHead {
    background-color: $bucket-purple;
    padding-bottom: 20px;
    
    .banner {
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1250px;
        color: white;

        h2 {
            width: 15%;
        }

        .navLink {
            color: white;
        }

        div {
            display: flex;
            justify-content: space-between;
            width: 15%;
        }
    }

}

.incompleteContainer {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    border-bottom: 2px solid $light-gray;
    padding: 80px 0;

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }
}


.completeContainer {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    // border-bottom: 2px solid $light-gray;
    padding: 50px 0;    
}

.mappedGoals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
